* {
    font-family:"Roboto",sans-serif;
}
body {
    background-color:#6ec6ff;
}
header{
    display:flex;
    background-color: #2196f3;
}

h1 {
    margin: 0.6em auto;
    font-family:"Roboto",sans-serif;
}

.container {
    display:flex;
    flex-wrap: wrap;
    margin: 10em;
    justify-content: center;
}

#game {
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: #2196f3;

    font-size: 1.8em;

}

#game:hover {
    background-color:#0069c0;
    color: white;
}

.container h1 {
    text-align:center;
    width: 100%;
    margin-bottom: 4em;
}
.choices {
    margin: 1em;
    padding: 2em;
    border:none;
    border-radius: 0.5em;
    background-color: #2196f3;
}

.choices:hover {
    background-color:#0069c0;
    color: white;
}
